body {
  font-family: Arial, sans-serif;
  background-color: #fefae0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffd60a;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  padding: 20px;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}
